:host {
    display: flex;
    width: 100%;
}

.card-barrier-div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.dashboard-accordion {
    width: 100%;
}
