<div class="flex-row grow">
    <div class="card-barrier-div">
        <div class="flex-column grow">
            <span class="dashboard-title">Reports</span>
            <mat-accordion class="dashboard-accordion">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Report #1
                        </mat-panel-title>
                        <mat-panel-description>
                            A report on stuff that you do for fun.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    More details on report #1!
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Report #2
                        </mat-panel-title>
                        <mat-panel-description>
                            A report on the best coffee.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    More details on report #2!
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
