<div class="flex-row grow">
    <div class="card-barrier-div">
        <div class="flex-column grow">
            <span class="dashboard-title">Reports</span>
            <mat-accordion class="dashboard-accordion">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Report #1
                        </mat-panel-title>
                        <mat-panel-description>
                            Clients who have the highest number of contracts in each line of business.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    More details on report #1!
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Report #2
                        </mat-panel-title>
                        <mat-panel-description>
                            Details of the contracts recorded in the last 10 days by sales associates.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    More details on report #2!
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Report #3
                        </mat-panel-title>
                        <mat-panel-description>
                            Details of the employees from the province of Quebec.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    More details on report #3!
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Report #4
                        </mat-panel-title>
                        <mat-panel-description>
                            List of all the contracts in the Gold category.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    More details on report #4!
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Report #5
                        </mat-panel-title>
                        <mat-panel-description>
                            Clients whose contracts have the highest scores in each type, by city.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    More details on report #5!
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
