:host {
    width: 100%;
    height: 100%;
}

.profile-tab-content {
    padding: 24px;
}

.profile-submit-bar {
    align-items: center;
    justify-content: flex-end;
}

.data-card-title {
    padding-top: 6px;
    padding-bottom: 6px
}

.profile-field-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    .profile-field {
        width: 45%;
    }
}
