<div class="flex-column full-height">
    <mat-toolbar class="main-toolbar" color="primary">
        <mat-toolbar-row>
            <button mat-icon-button color="white" class="sidebar-btn" (click)="menuOpen = !menuOpen">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="flex-row grow">Contract Management</span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button class="vert-menu-item" mat-menu-item routerLink="/profile">
                    <mat-icon>person</mat-icon>
                    <span>My Profile</span>
                </button>
                <button class="vert-menu-item" mat-menu-item (click)="auth.logout()">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="flex-row grow sidebar-container">
        <mat-sidenav #sidenav class="main-sidebar" [mode]="sideMode" [(opened)]="menuOpen">
            <div class="flex-column grow">
                <div class="flex-row nav-item" mat-ripple routerLink="/dashboard" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">dashboard</mat-icon>
                    <span class="nav-text">Dashboard</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole === Roles.CLIENT">
                <div class="flex-row nav-item" mat-ripple routerLink="/my-contracts" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">receipt</mat-icon>
                    <span class="nav-text">My Contracts</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole === Roles.CLIENT">
                <div class="flex-row nav-item" mat-ripple routerLink="/my-managers" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">supervisor_account</mat-icon>
                    <span class="nav-text">My Managers</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole !== Roles.CLIENT">
                <div class="flex-row nav-item" mat-ripple routerLink="/managers" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">supervisor_account</mat-icon>
                    <span class="nav-text">Managers</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole !== Roles.CLIENT">
                <div class="flex-row nav-item" mat-ripple routerLink="/employees" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">person</mat-icon>
                    <span class="nav-text">Employees</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole !== Roles.CLIENT">
                <div class="flex-row nav-item" mat-ripple routerLink="/associates" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">work</mat-icon>
                    <span class="nav-text">Associates</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole !== Roles.CLIENT">
                <div class="flex-row nav-item" mat-ripple routerLink="/clients" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">shopping_cart</mat-icon>
                    <span class="nav-text">Clients</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole === Roles.MANAGER || phpBoolean(this.is_admin)">
                <div class="flex-row nav-item" mat-ripple routerLink="/supervised" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">assignment_ind</mat-icon>
                    <span class="nav-text">Subordinates</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="phpBoolean(this.is_admin)">
                <div class="flex-row nav-item" mat-ripple routerLink="/users" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">face</mat-icon>
                    <span class="nav-text">Users</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole !== Roles.CLIENT">
                <div class="flex-row nav-item" mat-ripple routerLink="/contracts" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">receipt</mat-icon>
                    <span class="nav-text">Contracts</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole !== Roles.CLIENT">
                <div class="flex-row nav-item" mat-ripple routerLink="/deliverables" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">alarm</mat-icon>
                    <span class="nav-text">Deliverables</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole !== Roles.CLIENT">
                <div class="flex-row nav-item" mat-ripple routerLink="/departments" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">business</mat-icon>
                    <span class="nav-text">Departments</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole === Roles.MANAGER || this.userRole === Roles.EMPLOYEE || phpBoolean(this.is_admin)">
                <div class="flex-row nav-item" mat-ripple routerLink="/worklog" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">schedule</mat-icon>
                    <span class="nav-text">Worklogs</span>
                </div>
            </div>
            <div class="flex-column grow" *ngIf="this.userRole === Roles.MANAGER || this.userRole === Roles.EMPLOYEE || phpBoolean(this.is_admin)">
                <div class="flex-row nav-item" mat-ripple routerLink="/assignments" routerLinkActive="route-active">
                    <mat-icon class="nav-icon">assignment</mat-icon>
                    <span class="nav-text">Assignments</span>
                </div>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="main-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
