<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="entityForm">
        <div class="dialog-field-row center">

            <mat-form-field class="dialog-field">
                <input type="text" placeholder="Employee" matInput formControlName="employee_id" [matAutocomplete]="employee"
                       #empInput [value]="this.displayEmpInputFn(this.entityForm.controls['employee_id'].value, empInput)">
                <mat-autocomplete #employee="matAutocomplete" [displayWith]="getEmployeeLinkFn()">
                    <mat-option *ngFor="let option of filteredEmployees | async" [value]="option.id">
                        {{option.first_name | normalize}}&nbsp;{{option.last_name | normalize}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="dialog-field">
                <input type="text" placeholder="Contract" matInput formControlName="contract_id" [matAutocomplete]="contract"
                       #contInput [value]="this.displayContInputFn(this.entityForm.controls['contract_id'].value, contInput)">
                <mat-autocomplete #contract="matAutocomplete" [displayWith]="getContractLinkFn()">
                    <mat-option *ngFor="let option of filteredContracts | async" [value]="option.id">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="dialog-field">
                <mat-select placeholder="Activity" [formControl]="entityForm.controls['is_active']">
                    <mat-option [value]="true">
                        Active
                    </mat-option>
                    <mat-option [value]="false">
                        Expired
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="flex-row dialog-actions" mat-dialog-actions>
    <button mat-button style="margin-right: 10px" (click)="close()">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="!entityForm.valid || !entityForm.dirty" (click)="closeSubmit()" cdkFocusInitial>{{data.action}}</button>
</div>
