.title-icon {
    margin-right: 10px;
}

.dialog-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dialog-actions {
    align-items: center;
    justify-content: flex-end;
}
