<div class="flex-row grow">
    <div class="card-barrier-div">
        <mat-card class="flex-column data-card">
            <mat-card-header class="flex-row center data-card-header">
                <span class="data-card-title">Managers</span>
                <div class="flex-row grow"></div>
                <div class="flex-row action-container">
                    <button mat-icon-button (click)="add()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-divider style="position: static"></mat-divider>
            <div class="querying-shade" *ngIf="querying">
                <mat-spinner *ngIf="querying"></mat-spinner>
            </div>
            <mat-card-content class="data-card-content">
                <table class="material-table" mat-table matSort [dataSource]="dataSource">

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Id</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Name</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name + ' ' + element.last_name}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> <strong>Email</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions" stickyEnd>
                        <th mat-header-cell class="actions-header" *matHeaderCellDef>
                            <div class="flex-row center">
                                <strong>
                                    Actions
                                </strong>
                            </div>
                        </th>
                        <td mat-cell class="actions-column" *matCellDef="let element">
                            <div class="flex-row center">
                                <button mat-icon-button (click)="edit(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="delete(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="empty-message flex-row center" *ngIf="dataSource.length === 0">No managers found.</div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
