<div class="flex-row grow">
    <mat-card class="data-card">
        <mat-card-header class="flex-row grow center data-card-header">
            <span class="data-card-title">Managers</span>
            <div class="flex-row grow"></div>
            <div class="flex-row action-container">
                <!-- Open entity creation dialog -->
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            TESTING
        </mat-card-content>
    </mat-card>
</div>
