<form class="" [formGroup]="entityForm">
    <div class="dialog-field-row">
        <mat-form-field class="dialog-field">
            <input matInput formControlName="first_name" placeholder="First name">
        </mat-form-field>
        <mat-form-field class="dialog-field">
            <input matInput formControlName="last_name" placeholder="Last name">
        </mat-form-field>
        <mat-form-field class="dialog-field">
            <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="dialog-field">
            <input matInput type="password" formControlName="password" placeholder="Password">
        </mat-form-field>
    </div>
</form>
<div class="flex-row profile-submit-bar">
    <button mat-flat-button color="primary" [disabled]="!entityForm.valid || !entityForm.dirty" (click)="closeSubmit()">
        Save
    </button>
</div>
