<form [formGroup]="entityForm">
    <div class="profile-field-row">
        <mat-form-field class="profile-field">
            <input matInput formControlName="first_name" placeholder="First name">
        </mat-form-field>
        <mat-form-field class="profile-field">
            <input matInput formControlName="last_name" placeholder="Last name">
        </mat-form-field>
        <mat-form-field class="profile-field">
            <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="profile-field">
            <input type="text" placeholder="Department" matInput formControlName="department_id"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDepartmentLinkFn()">
                <mat-option *ngFor="let option of filteredDepartments | async" [value]="option.id">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="profile-field">
            <mat-select placeholder="Province" [formControl]="entityForm.controls['province']">
                <mat-option *ngFor="let province of provinces" [value]="province">
                    {{province | normalize}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="profile-field">
            <mat-select placeholder="Insurance" [formControl]="entityForm.controls['insurance']">
                <mat-option *ngFor="let insurance of insuranceTypes" [value]="insurance">
                    {{insurance | normalize}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>
<div class="flex-row profile-submit-bar">
    <button mat-flat-button color="primary" [disabled]="!entityForm.valid || !entityForm.dirty" (click)="save()">
        Save
    </button>
</div>
