<div class="flex-row grow">
    <div class="card-barrier-div">
        <mat-card class="flex-column data-card">
            <mat-card-header class="flex-row center data-card-header">
                <span class="data-card-title" style="padding-top: 6px; padding-bottom: 6px;">My Profile</span>
                <div class="flex-row grow"></div>
            </mat-card-header>
            <mat-divider style="position: static"></mat-divider>
            <mat-card-content style="padding: 24px;" class="data-card-content">
                <form class="" [formGroup]="entityForm">
                    <div class="dialog-field-row">
                        <mat-form-field class="dialog-field">
                            <input matInput formControlName="first_name" placeholder="First name">
                        </mat-form-field>
                        <mat-form-field class="dialog-field">
                            <input matInput formControlName="last_name" placeholder="Last name">
                        </mat-form-field>
                        <mat-form-field class="dialog-field">
                            <input matInput formControlName="username" placeholder="Username">
                        </mat-form-field>
                        <mat-form-field class="dialog-field">
                            <input matInput type="password" formControlName="password" placeholder="Password">
                        </mat-form-field>
                        <mat-form-field class="dialog-field">
                            <input type="text" placeholder="Department" matInput formControlName="department_id" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDepartmentLinkFn()">
                                <mat-option *ngFor="let option of filteredDepartments | async" [value]="option.id">
                                    {{option.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field class="dialog-field">
                            <mat-select placeholder="Province" [formControl]="entityForm.controls['province']">
                                <mat-option *ngFor="let province of provinces" [value]="province">
                                    {{province | normalize}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="dialog-field">
                            <mat-select placeholder="Insurance" [formControl]="entityForm.controls['insurance']">
                                <mat-option *ngFor="let insurance of insuranceTypes" [value]="insurance">
                                    {{insurance | normalize}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
            <div style="padding: 24px;" class="flex-row dialog-actions">
                <button mat-flat-button color="primary" [disabled]="!entityForm.valid" (click)="save()" cdkFocusInitial>Save</button>
            </div>
        </mat-card>
    </div>
</div>
