<div class="flex-row grow main-content-div">
    <div class="card-barrier-div">
        <mat-card class="flex-column data-card">
            <mat-card-header class="flex-row center data-card-header">
                <span class="data-card-title">Deliverables</span>
                <div class="flex-row grow action-container">
                    <div class="search-bar-container">
                        <div class="search-bar">
                            <button mat-icon-button (click)="openFilter = !openFilter">
                                <mat-icon>search</mat-icon>
                            </button>
                            <input autofocus *ngIf="openFilter" [@expandX] class="search-bar-field" type="text" placeholder="Search here" (keyup)="applyFilter($event.target.value)" />
                        </div>
                    </div>
                </div>
            </mat-card-header>
            <mat-divider style="position: static"></mat-divider>
            <div class="querying-shade" *ngIf="querying">
                <mat-spinner *ngIf="querying"></mat-spinner>
            </div>
            <mat-card-content class="data-card-content">
                <table class="material-table" mat-table matSort [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="contract_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Contract</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element.contract_name}} </td>
                    </ng-container>

                    <!-- deliv_number Column -->
                    <ng-container matColumnDef="deliv_number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Deliv #</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element.deliv_number}} </td>
                    </ng-container>

                    <!-- is_final Column -->
                    <ng-container matColumnDef="is_final">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Final?</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{this.phpBoolean(element.is_final)}} </td>
                    </ng-container>

                    <!-- days_to_delivery Column -->
                    <ng-container matColumnDef="days_to_delivery">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Days to Delivery</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element.days_to_delivery}} </td>
                    </ng-container>

                    <!-- days_taken Column -->
                    <ng-container matColumnDef="days_taken">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Days Taken</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element.days_taken}} </td>
                    </ng-container>

                    <!-- month scheduled Column -->
                    <ng-container matColumnDef="month_scheduled">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Month Scheduled</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element.month_scheduled}} </td>
                    </ng-container>

                    <!-- month_delivered Column -->
                    <ng-container matColumnDef="month_delivered">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Month Delivered</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{element.month_delivered}} </td>
                    </ng-container>

                    <!-- is_active Column -->
                    <ng-container matColumnDef="is_active">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Active?</strong> </th>
                        <td mat-cell *matCellDef="let element"> {{this.phpBoolean(element.is_active)}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="empty-message flex-row center" *ngIf="dataSource.data.length === 0 || this.dataSource.filteredData.length === 0">No deliverables found.</div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
