<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <form class="" [formGroup]="managersForm">
        <div class="dialog-field-row">
            <mat-form-field class="dialog-field">
                <input matInput formControlName="first_name" placeholder="First name">
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <input matInput formControlName="last_name" placeholder="Last name">
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <input matInput formControlName="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <input type="tel" matInput formControlName="phone_number" placeholder="Phone number">
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <input matInput formControlName="middle_initial" placeholder="Middle initial">
            </mat-form-field>
            <mat-form-field class="dialog-field" *ngIf="this.data.mode === 'add'">
                <input matInput formControlName="username" placeholder="Username">
            </mat-form-field>
            <mat-form-field class="dialog-field" *ngIf="this.data.mode === 'add'">
                <input matInput type="password" formControlName="password" placeholder="Password">
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <input type="text" placeholder="Department" matInput formControlName="department_id" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDepartmentLinkFn()">
                    <mat-option *ngFor="let option of filteredDepartments | async" [value]="option.id">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <mat-select placeholder="Province" [formControl]="managersForm.controls['province_name']">
                    <mat-option *ngFor="let province of provinces" [value]="province">
                        {{province | normalize}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="dialog-field">
                <mat-select placeholder="Insurance" [formControl]="managersForm.controls['insurance_type']">
                    <mat-option *ngFor="let insurance of insuranceTypes" [value]="insurance">
                        {{insurance | normalize}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="flex-row dialog-actions" mat-dialog-actions>
    <button mat-button style="margin-right: 10px" (click)="close()">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="!managersForm.valid || !managersForm.dirty" (click)="closeSubmit()" cdkFocusInitial>{{data.action}}</button>
</div>
