.dialog-actions {
    align-items: center;
    justify-content: flex-end;
}

.dialog-field-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    .dialog-field {
        width: 45%;
    }
}
